@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*P치gina principal*/
*{
    font-family: "Open Sans", sans-serif; 
    margin: 0; 
}

#logo{
    width: 100px;
    height: 30px;



   
}

#logo>img{
    width: 100px;
    height: 30px;


   
}

nav{
	background-color: #000000; 
	display: flex; 
	justify-content: space-around;
	align-items: center;
height: 70px;


}

a{
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
    font-size: 13px;
  padding: 10px;
}


#carrusel_principal{
    height: 100vh;
}


.carousel-caption>h1{
    font-size: 45px;
    color: #ffffff;
    margin-top: -400px;
   text-align: left;
    text-shadow: 6px 2px 2px #000000;
float: right;
margin-right: -200px;
    display: flex;
    width: 500px;

  }





.carousel-caption>h2{
    font-size: 24px;
    color: #ffffff;
    float: right;

display: flex;
margin-right: 60px;
text-shadow: 2px 2px 2px #000000;
margin-top: -200px;
display: flex;

}





 #fondo{
    height: 540px;
    display: flex;
    background-image: url(../Images/Backgrounds/Home/camino.jpg);
    background-size: cover;
}

#fondo>h2{
    color: #FFFFFF;
    font-size: 30px;
    text-align: left;
    margin-left: 30px; 
    width: 500px;
    height: 35px;
    margin-top: 40px;
}



#ver_mas{
    display: flex;
    margin-top: 400px;
    margin-left: -230px;
}

#final{
    background-image: url(../Images/backgrounds/Home/fondoblanco.jpg);
    width: 100%;
   height: 380px;
    background-color: #ffffff;
    background-size: cover;
    margin-top: -100px;
}

#final>h2{
    margin-left: 25px;
    padding-top: 20px;
  
}

#final h3{
    font-size: 18px;
    margin-left: 25px;
}

#final>img{
    width: 80px;
    height: 80px;
    margin-left: 70px;
    margin-top: -10px;
}

#final2{
    height: 40vh;
 
    background-color: #161616;

    display: flex;
    padding-left: 50px;


}

#final2>ul{
width: 1000px;
    background-color: #161616;
    padding-left: 2px;
    margin-left: 40px;
    height: 220px;
    padding-top: 30px;


   }

#texto_ultimo{

height: 12vh;
background-color: #161616;
align-items: center;
display: flex;
flex-direction: column;




}

#texto_ultimo>h6{
    color: #cecece;
    text-align: center;
    display: flex;
 font-size: 14px;
    margin-top: 30px;
    background-color: #161616;
}
#instagram{

   width: 40px;
   height: 40px;
   margin-left: 550px;
   display: flex;
   margin-top: -50px;
    
 }
  
 #whatsap{

    width: 40px;
    height: 40px;
    margin-left: 650px;
    display: flex;
    margin-top: -40px;
     
  }


/*Cambios para sitio responsivo*/

.text_home{

    margin-top: 5px; 
    display: flex; 
    margin-left: 1px;

}

.text_modelos{
    margin-top: -15px;
     display: flex; 
     margin-left: 20px;
}

.text_accesorios{
    margin-top: -17px;
     display: flex; 
     margin-left: 20px;
}

.text_acerca{
    margin-top: -17px;
     display: flex; 
     margin-left: 20px;
}

.text_carrito{
    margin-top: -17px;
     display: flex; 
     margin-left: 20px;
}

.text_sesion{
    margin-top: -17px;
     display: flex; 
     margin-left: 20px;
}

#boton1{
    width: 234px;
    background-color:#de5e08;
    color: #fff;
    font-weight: bold;
  float: right;
  margin-right: 60px;
    display: flex;
    font-size: medium;
    border:none;
    text-align: center;
    margin-top: -150px;
display: flex;
  
}

#card1{
    width: 300px; 
    height: 360px;
    background-color: black; 
    margin-top: -20px; 

    margin: 32px;
}


#card2{
   width: 300px; 
   height: 360px;
   background-color: black;
   margin-top: -20px;
   margin: 32px;}



   #card3{
    width: 300px; 
    height: 360px;
    background-color: black;
    margin-top: -20px;
    margin: 32px;}

    #card4{
        width: 300px; 
        height: 360px;
        background-color: black;
        margin-top: -20px;
        margin: 32px;}

#botonc{
    background-color: #de5e08;
    border-color: #de5e08;
}


#lomasnuevo{
    width: 100%;
    height: 120px;
    background-color: #0f0f0f;
    text-align: center;
    font-weight: bold;
    display: flex;
    
}

#lomasnuevo1{
  font-size: 14px;
    color: #cecece;
    padding-top: 20px;
    float: left;
    margin-left: 20px;

    display: flex;

}

#lomasnuevo2{
    font-size: 20px;
      color: #ffffff;
      font-family:href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap";
      float: left;
      margin-top: 60px;
      margin-left: -254px;
  }



.dropdown-center{


margin-left: 650px;
margin-top: 60px;





}

/* Sitio responsivo */


@media (max-width: 770px) {

    nav{
        height: 60px;
    }

    #logotipo > img {
        margin-top: 2px;
        margin-left: 15px;
            width: 83px; /* Cambiado a un valor porcentual para que sea proporcional al tama침o del logo */
            height: 25px; /* Usando 'auto' para mantener la proporci칩n del logotipo */
   
     
   }


#home{
    .text_home{
        display: none;
    }
}

#carrito{
    .text_carrito{
        display: none;
    }
}

#iniciarsesion{
    .text_sesion{
        display: none;
    }
}

#modelos{
    .text_modelos{
        display: none;
    }
}
#accesorios{
    .text_accesorios{
        display: none;
    }
}

#acercade{
    .text_acerca{
        display: none;
    }
}

.carousel-caption>h2{
    display: none;
}
#boton1{
    display: none;
}

#modelosAutos{
    width: 60%;
    background-color: #4697d1;
}


#fondo{
    display: flex;
    flex-wrap: wrap;
    height: 660px;
}

#card1{
    width: 200px; 
    height: 300px;
    background-color: black; 
    margin-top: -20px; 

    margin: 6px;
}




#card2{
    width: 200px; 
    height: 300px;
    background-color: black; 
    margin-top: -20px; 

    margin: 6px;
}


#card3{
    width: 200px; 
    height: 300px;
    background-color: black; 
   display: flex;
margin-top: 300px;
    margin: 6px;
}

#card4{
    width: 200px; 
    height: 300px;
    background-color: black; 
   display: flex;
margin-top: 300px;
    margin: 6px;
}
.card-title{
    font-size: medium;
}

.card-text{
    font-size: 12px;
    text-align: justify;
}

#botonc{
   width: 170px;
   font-size: 10px;
   font-weight: bold;
}


#lomasnuevo{

 height: 60px;
    display: flex;

}

#lomasnuevo1{

    font-size: 10px;



}

#lomasnuevo2{

    display: none;
}



.carousel-caption>h2{
    margin-right: 5px;

    display: flex;
    margin-top: -90px;
    font-size: medium;
    width: 100px;
}

#boton1 {
    font-size: 12px;
    display: flex;
    width: 190px;
    height: 30px;
    margin-top: -40px;
    margin-right: -20px;
    position: relative; /* A침adido para alinear el pseudo-elemento correctamente */
}

.dropdown-center{
display: none;

}

#final{
    margin-top: 3px;
  height: 115px;

}

#final2{
  display: none;
}
#ver_mas{
    display: flex;
    margin-top: 310px;
    margin-left: -160px;
}
#ver_mas>a{
  font-size: 10px;
}

#final>h2{
    font-size: medium;
    margin-left: 12px;

}
#final>h3{
    font-size: small;
    margin-left: 12px;

}

#mantencion1{
    display: none;
}
.boton_mantencion{
    display: none;
}

#final>img{
    width: 40px;
    height: 40px;
    margin: 35px;
    margin-top: 20px;
}

.btn-outline-secondary{
    width: 120px;
    font-size: 10px;
    margin: 20px;

}
#texto_ultimo{
    margin-top: 160px;
}

#instagram{
    display: none;

}

#whatsap{
    display: none;
}

#texto_ultimo>h6{
    font-size: 11px;
}

}
