@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    font-family: "Open Sans", sans-serif; 
    margin: 0; 
}

#logo{
    width: 130px;
    height: 70px;
   
}

#logo>img{
    width: 120px;
    height: 40px;
    margin-top: 15px;
   
}





nav{
	background-color: #000000; 
	display: flex; 
	justify-content: space-around;
	align-items: center;
	height: 12vh;
    
}



a{
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
    font-size: 13px;
  
}


#header2{

background-color: #000000;
height: 10vh;
}

.btn-success {
    background-color: #de5e08; /* Cambia el color del botón verde */
    border-color: #484f4a; /* Cambia el color del borde del botón */
  
  }





#carrusel1{


height: 88vh;
margin-top: -640px; /*afecta el espacio fuera del elemento, entre él y los elementos vecinos.*/


}




#barra{
    height: 55px;
  }
  


.navbar-brand{
    padding-left: 800px;
    font-size: 12px;
}

#buscar{

background-color: #de5e08;
color: #ffffff;

}




#frase>h3{
    color: #ffffff;
    margin-left: 15px;
    font-size: 20px;
}

.carousel-caption {

    display: flex;
    flex-direction: column; /* Cambia la dirección de los elementos flexibles a columna */

    width: 417px;
    height: 860px;
    margin-left: 700px;
    padding-top: 30px;

}


.carousel-caption>h3{

width: 417px;

display: flex;
margin-top: 320px;
font-size: 20px;
padding-inline-start: 120px;




}



.carousel-caption>p{
font-size: 14px;
margin-top: 10px;
text-align: justify;
padding-left: 5px;
width: 417px;

}

#carrusel2{


    height: 88vh;
  
    
    
    }

    #texto2{

        display: flex;
        flex-direction: column; /* Cambia la dirección de los elementos flexibles a columna */
    
        width: 417px;
        height: 860px;
        margin-left: -100px;
        padding-top: 30px;
    


    }

#carrusel3{

    margin-top: -70px;
}

#carrusel4{

    margin-top: -3px;
}

#carrusel5{

    margin-top: -2px;
}

#carrusel6{

    margin-top: -2px;
}

#final2{
    height: 50vh;
    /* background-image: url(../Images/backgrounds/Home/camino.jpg); */
    background-color: #161616;
    padding-top: 50px;
    display: flex;
    list-style-type: none; /* Elimina el marcador de lista */
}