@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*Página principal*/
*{
    font-family: "Open Sans", sans-serif; 
    margin: 0; 
}

#logo{
    width: 130px;
    height: 70px;
   
}

#logo>img{
    width: 120px;
    height: 40px;
    margin-top: 15px;
   
}

nav{
	background-color: #000000; 
	display: flex; 
	justify-content: space-around;
	align-items: center;
	height: 12vh;
}

a{
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
    font-size: 13px;
}


#carrusel_principal{
    height: 100vh;
}

.carousel-caption>h2{
    font-size: 30px;
    color: #FFFFFF;
    float: left;
    display: flex;
    margin-left: -70px;
    margin-top: -400px;
}

.carousel-caption>h3{
    font-size: 20px;
    color: #de5e08;
    float: left;
    display: flex;
    margin-top: -360px;
    margin-left: -70px;
}

.carousel-caption>h1{
    font-size: 8vh;
    color: #ffffff;
    margin-top: -400px;
    margin-left: 700px;
    text-shadow: 6px 2px 2px #000000;
    text-align: left;
    display: flex;
  }

 #fondo{
    height: 600px;
    display: flex;
    background-image: url(../Images/Backgrounds/Home/camino.jpg);
    background-size: cover;
}

#fondo>h2{
    color: #FFFFFF;
    font-size: 30px;
    text-align: left;
    margin-left: 30px; 
    width: 500px;
    height: 35px;
    margin-top: 40px;
}

#modelosAutos{
    width: 1700px;
    height: 450px;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    justify-content: space-between;
    margin-top: 130px;
    margin-left: -460px;
}  


#ver_mas{
    display: flex;
    margin-top: 400px;
    margin-left: -230px;
}

#final{
    background-image: url(../Images/backgrounds/Home/fondoblanco.jpg);
    height: 52vh;
    background-color: #ffffff;
    background-size: cover;
}

#final>h2{
    margin-left: 25px;
    padding-top: 20px;
  
}

#final h3{
    font-size: 18px;
    margin-left: 25px;
}

#final>img{
    width: 80px;
    height: 80px;
    margin-left: 70px;
    margin-top: -10px;
}

#final2{
    height: 45vh;
  
    background-color: #161616;
    padding-top: 50px;
    display: flex;
    padding-left: 50px;


}


#finalfinal{
    height: 12vh;
    background-color: #161616;
  margin-top: -40px;

}

h6{
    color: #FFFFFF;
    margin-left: 350px;
    font-size: 14px;
    margin-top: 30px;

}


#finalfinal>img{

    width: 40px;
    height: 40px;
margin-left: 850px;
margin-top: -100px;
}


/* Diseño del login */

#login_banner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../Images/Backgrounds/login/login-banner.jpg);
    min-height: 70vh;
    width: 100%;
    height: 88vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper{
    background: #0d0d0d75;
    border: 2px solid rgba(53, 75, 92, 0.2);
    backdrop-filter: blur(10px);
    color: #ffffff;
    height: 50vh;
    width: 25vw;
    filter: blur(40);
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1{
    text-align: center;
    font-size: 36px;
    cursor: default;
    user-select: none;
}

.wrapper .input-box{
    position: relative;
    width: 80%;
    height: 50px;
    margin: 30px 0;
}

.input-box > input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 15px;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 50px;
}

.input-box > input::placeholder{
    color: #727272;
}

/* 
No sé como cambiar el color del mostrar contraseña
::-ms-reveal{
    color
}
*/

.input-box > img{
    position: absolute;
    right: -50px;
    top: 50%;
    transform: translateY(-30%);
}

.wrapper .remember-me{
    color: #888888;
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
    margin: 15px 5px 15px;
}

.remember-me label input{
    accent-color: #fff;
    margin: 3px;
}

#login-words{
    color: #7d7d7d;
    font-size: 11.5px;
    text-decoration: none;
}

#login-words:hover{
    text-decoration: underline;
    transition-duration: 0.5s;
}

.wrapper .login-button{
    width: 100%;
    height: 45px;
    background-color: #cecece;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 15px;
    color: #333;
    font-weight: 600;
}

.wrapper .dont-have-acount{
    text-align: center;
    margin: 15px 0px 15px;
    font-weight: 600;
}

/* Página de creación de cuentas */


#wrapper-create-account{
    height: 56vh;
    width: 25vw;
}