@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    font-family: "Open Sans", sans-serif; 
    margin: 0; 
}

#logo{
    width: 130px;
    height: 70px;
   
}

#logo>img{
    width: 120px;
    height: 40px;
    margin-top: 15px;
   
}





nav{
	background-color: #000000; 
	display: flex; 
	justify-content: space-around;
	align-items: center;
height: 70px;


}



a{
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
    font-size: 13px;
  
}


#header2{

background-color: #000000;
height: 10vh;
}

.btn-success {
    background-color: #de5e08; /* Cambia el color del botón verde */
    border-color: #484f4a; /* Cambia el color del borde del botón */
  
  }





#carrusel1{


height: 88vh;
margin-top: -640px; /*afecta el espacio fuera del elemento, entre él y los elementos vecinos.*/


}




#barra{
    height: 55px;
  }
  


.navbar-brand{
    padding-left: 800px;
    font-size: 12px;
}

#buscar{

background-color: #de5e08;
color: #ffffff;

}




#frase>h3{
    color: #ffffff;
    margin-left: 15px;
    font-size: 20px;
}

.carousel-caption {

    display: flex;
    flex-direction: column; /* Cambia la dirección de los elementos flexibles a columna */

    width: 417px;
    height: 860px;
    margin-left: 700px;
    padding-top: 30px;

}


.carousel-caption>h3{

width: 417px;

display: flex;
margin-top: 320px;
font-size: 20px;
padding-inline-start: 120px;




}



.carousel-caption>p{
font-size: 14px;
margin-top: 10px;
text-align: justify;
padding-left: 5px;
width: 417px;

}

#carrusel2{


    height: 88vh;
  
    
    
    }

    #texto2{

        display: flex;
        flex-direction: column; /* Cambia la dirección de los elementos flexibles a columna */
    
        width: 417px;
        height: 860px;
        margin-left: -100px;
        padding-top: 30px;
    


    }

#carrusel3{

    margin-top: -70px;
}

#carrusel4{

    margin-top: -3px;
}

#carrusel5{

    margin-top: -2px;
}

#carrusel6{

    margin-top: -2px;
}

#final2{
    height: 40vh;
  
    background-color: #161616;
    padding-top: 50px;
    display: flex;
    padding-left: 50px;


}

#final2>ul{

    background-color: #161616;
    padding-left: 2px;
    margin-left: 80px;
    height: 220px;

   }

#texto_ultimo{

height: 12vh;
background-color: #161616;
align-items: center;
display: flex;
flex-direction: column;




}

#texto_ultimo>h6{
    color: #cecece;
    text-align: center;
    display: flex;
 font-size: 14px;
    margin-top: 40px;
}
#instagram{

   width: 40px;
   height: 40px;
   margin-left: 550px;
   display: flex;
   margin-top: -50px;
    
 }
  
 #whatsap{

    width: 40px;
    height: 40px;
    margin-left: 650px;
    display: flex;
    margin-top: -40px;
     
  }

  /*Cambios para sitio responsivo*/

.text_home{

    margin-top: 5px; 
    display: flex; 
    margin-left: 1px;

}

.text_modelos{
    margin-top: -15px;
     display: flex; 
     margin-left: 20px;
}

.text_accesorios{
    margin-top: -17px;
     display: flex; 
     margin-left: 20px;
}

.text_acerca{
    margin-top: -17px;
     display: flex; 
     margin-left: 20px;
}

.text_carrito{
    margin-top: -17px;
     display: flex; 
     margin-left: 20px;
}

.text_sesion{
    margin-top: -17px;
     display: flex; 
     margin-left: 20px;
}







  /* Sitio responsivo */



/*Medida número 1*/
@media (max-width: 1455px) {

    nav{
        height: 60px;
    }

 #logo > img {
    margin-top: 2px;
    margin-left: 12px;
        width: 83px; /* Cambiado a un valor porcentual para que sea proporcional al tamaño del logo */
        height: 25px; /* Usando 'auto' para mantener la proporción del logotipo */
    
       
    }

    a{font-size: 12px;}

}

/*Medida número 4*/
@media (max-width: 900px) {

    nav{
        height: 60px;
    }

    #logotipo > img {
        margin-top: 2px;
        margin-left: 15px;
            width: 83px; /* Cambiado a un valor porcentual para que sea proporcional al tamaño del logo */
            height: 25px; /* Usando 'auto' para mantener la proporción del logotipo */
   
     
   }


#home{
    .text_home{
        display: none;
    }
}

#carrito{
    .text_carrito{
        display: none;
    }
}

#iniciarsesion{
    .text_sesion{
        display: none;
    }
}

#modelos{
    .text_modelos{
        display: none;
    }
}
#accesorios{
    .text_accesorios{
        display: none;
    }
}

#acercade{
    .text_acerca{
        display: none;
    }
}
}