@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*Página principal*/
*{
    font-family: "Open Sans", sans-serif; 
    margin: 0; 
}

#logo{
    width: 130px;
    height: 70px;
}

#logo>img{
    width: 120px;
    height: 40px;
    margin-top: 15px;
}

.accesos{
	background-color: #000000; 
	display: flex; 
	justify-content: space-around;
	align-items: center;
	height: 12vh;
}

.menu{
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
    font-size: 13px;
}