<!-- git config --global core.autocrlf true -->
{% extends 'planilla_header_footer.html' %}
{% load static %}

{% block estilo %}
    <link rel="stylesheet" href="{% static 'Style/estilo_login.css' %}">
{% endblock %}

{% block content %}


    <div class="container">

      <div class="sidebar">
        <div class="lstp">
          <h4><u>Filtros</u></h4>
         
        </div>
        <!-- Opción 1 -->
        <input type="checkbox" id="interior">
        <label for="interior">Interior</label>
        <div class="dropdown-content">
          <a href="#">Asientos deportivos</a>
          <a href="#">Volantes de alto rendimiento</a>
          <a href="#">Paneles de fibra de carbono</a>
          <a href="#">Iluminación interior LED</a>
          <a href="#">Sistemas de sonido premium</a>
        </div>

        <!-- Opción 2 -->
        <input type="checkbox" id="exterior">
        <label for="exterior">Exterior</label>
        <div class="dropdown-content">
          <a href="#">Kits de carrocería aerodinámica</a>
          <a href="#">Llantas de aleación ligera</a>
          <a href="#">Spoilers y alerones</a>
          <a href="#">Calcomanías y vinilos deportivos</a>
          <a href="#">Parrillas deportivas</a>
        </div>

        <!-- Opción 3 -->
        <input type="checkbox" id="rendimiento">
        <label for="rendimiento">Rendimiento</label>
        <div class="dropdown-content">
          <a href="#">Filtros de aire de alto flujo</a>
          <a href="#">Sistemas de escape deportivos</a>
          <a href="#">Suspensión ajustable</a>
          <a href="#">Kits de frenos de alto rendimiento</a>
          <a href="#">Chiptuning y reprogramación de la ECU</a>
        </div>

        <!-- Opción 4 -->
        <input type="checkbox" id="electronica">
        <label for="electronica">Electrónica</label>
        <div class="dropdown-content">
          <a href="#">Sistemas de navegación GPS de última generación</a>
          <a href="#">Cámaras de retroceso y sensores de estacionamiento</a>
          <a href="#">Monitores de rendimiento del vehículo</a>
          <a href="#">Alarmas y sistemas de seguridad avanzados</a>
          <a href="#">Accesorios de conectividad Bluetooth y USB</a>
        </div>
        <div class="filtro">
          <label for="minPrecio">Precio mínimo:</label>
          <input type="number" id="minPrecio" name="minPrecio" min="0">
      </div>
      <div class="filtro">
          <label for="maxPrecio">Precio máximo:</label>
          <input type="number" id="maxPrecio" name="maxPrecio" min="0">
      </div>
      </div>



      <div class="articulos">
        <div>
        <h6>Lo mas vendido   -------------&gt;</h6>
      </div>
        <div class="artventa">



<!-- -------------------------------------------------------------------------------
codigo para hacer el select e imprimirlo directamente desde la base de datos
-------------------------------------------------------------------------------

          <div id = "productos">

            {% for item in productos %}
            <div class = "producto">
              <img src="{{ item.imagen }}" alt="">
              <div class="nombre">{{ item.nombre }}</div>
              <div class="descripcion">{{ item.descripcion }}</div>
              <div class="numeros">
                <div class="stock"> {{ item.stock }} </div>
                <div class="precio"> {{ item.precio }} </div>
              </div>
            </div>
            {% endfor%}

          </div>

------------------------------------------------------------------------------- -->


          <div class="producto">
            <img id="imagen1" src="../Images/Accesorios/neumatico1.jpg" alt="neumatico" class="neumatico">
            <div class="informacion">
              <h2 id= "tituloProducto1" class="nombre" style="font-size:20px; width: 218px; margin-left: 17px; text-align: center;">Neumático Michelin 2i 3435 Energy Saber</h2>
              <p  id="PrecioCambiar1" class="precio" style="color: rgb(168, 167, 167); margin-left: 70px">$15.000</p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
              style="background-color: #de5e08; border: none; width: 205px; margin-left: 20px">
                Ver más información
              </button>
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Neumatico michelin</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem voluptas atque necessitatibus ex!
                      Voluptates tempora exercitationem, quibusdam doloribus sit praesentium corporis corrupti saepe,
                      nemo delectus necessitatibus? Sint sunt dolore distinctio?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary"
                        style="background-color: #de5e08; border: none;">Añadir al carrito</button>
                    </div>
                  </div>
                </div>
              </div>


            </div>

            <button type="button" class="btn btn-primary"
            style="margin-left: 35px; background-color: #de5e08; outline: none; border: none; width: 205px;">Añadir al
              carrito</button><!--boton añadir al carro-->

 
          </div><!---CIERRE DIV ARTICULOS-->
          <!--AQUI CIERRA-------------------------------------------------------------------------------------------------------------------------------------------------->




          <div class="producto">
            <img id="imagen2" src="../Images/Accesorios/neumatico2.jpg" alt="neumatico 2" class="neumatico">
            <div class="informacion">
              <h2 id="tituloProducto2" class="nombre" style="font-size:20px; width: 218px; margin-left: 17px; text-align: center;">Neumático R16 4594958584</h2>
              <p id="PrecioCambiar2" class="Precio" style="color: rgb(168, 167, 167); margin-left: 70px">$185.000</p>

              <!--ESTO ES PARA LOS BOTONES----------------------------------------------------------------------------------------------------------->
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal3"
              style="background-color: #de5e08; border: none; width: 205px; margin-left: 20px">
                Ver más información
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Neumático R16 205/55 RA301Y HT 91V</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem voluptas atque necessitatibus ex!
                      Voluptates tempora exercitationem, quibusdam doloribus sit praesentium corporis corrupti saepe,
                      nemo delectus necessitatibus? Sint sunt dolore distinctio?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary"
                        style="background-color: #de5e08; border: none;">Añadir al carrito</button>
                    </div>
                  </div>
                </div>
              </div>


            </div>

            <button type="button" class="btn btn-primary"
            style="margin-left: 35px; background-color: #de5e08; outline: none; border: none; width: 205px;">Añadir al
              carrito</button><!--boton añadir al carro-->


          </div>
          














          <div class="producto">
            <img id="imagen3" src="../Images/Accesorios/neumatico3.jpg" alt="neumatico 3" class="neumatico">
            <div class="informacion">
              <h2 id="tituloProducto3" class="nombre" style="font-size:20px; width: 218px; margin-left: 17px; text-align: center;">Eagle Sport Nuevo 56/45 </h2>
              <p id="PrecioCambiar3" class="Precio" style="color: rgb(168, 167, 167); margin-left: 70px">$56.000</p>

              <!--ESTO ES PARA LOS BOTONES----------------------------------------------------------------------------------------------------------->
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2"
              style="background-color: #de5e08; border: none; width: 205px; margin-left: 20px">
                Ver más información
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">EAGLE SPORT 2 205/55 R16 91V Nuevo</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Lorem ipsum dolor sit consectetur adipisicing elit. Rem voluptas atque necessitatibus ex!
                      Voluptates tempora exercitationem, quibusdam doloribus sit praesentium corporis corrupti saepe,
                      nemo delectus necessitatibus? Sint sunt dolore distinctio?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary"
                        style="background-color: #de5e08; border: none;">Añadir al carrito</button>
                    </div>
                  </div>
                </div>
              </div>


            </div>

            <button type="button" class="btn btn-primary"
            style="margin-left: 35px; background-color: #de5e08; outline: none; border: none; width: 205px;">Añadir al
              carrito</button><!--boton añadir al carro-->

          </div>



        </div>
        <div class="artventa">
      

          <div class="producto">
            <img id="imagen4" src="../Images/Accesorios/gorroblan.jpg" alt="gorro audi blanco" class="neumatico">
            <div class="informacion">
              <h2 id="tituloProducto4" class="nombre" style="font-size:20px; width: 218px; margin-left: 17px; text-align: center;">Gorra de Béisbol con protector solar</h2>
              <p id="PrecioCambiar4" class="precio" style="color: rgb(168, 167, 167); margin-left: 70px">$38.000</p>

              <!--ESTO ES PARA LOS BOTONES----------------------------------------------------------------------------------------------------------->
              <!-- Button trigger modal -->
              <button id="descripcionProducto1" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal4"
              style="background-color: #de5e08; border: none; width: 205px; margin-left: 20px">
                Ver más información
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel5">	
                        Gorra De Béisbol Bordada Audi F1 Con Protector Solar</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem voluptas atque necessitatibus ex!
                      Voluptates tempora exercitationem, quibusdam doloribus sit praesentium corporis corrupti saepe,
                      nemo delectus necessitatibus? Sint sunt dolore distinctio?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary"
                        style="background-color: #de5e08; border: none;">Añadir al carrito</button>
                    </div>
                  </div>
                </div>
              </div>


            </div>

            <button type="button" class="btn btn-primary"
            style="margin-left: 35px; background-color: #de5e08; outline: none; border: none; width: 205px;">Añadir al
              carrito</button><!--boton añadir al carro-->


          </div>




          <div class="producto">
            <img id="imagen5" src="../Images/Accesorios/gorroneg.jpg" alt="neumatico" class="neumatico">
            <div class="informacion">
              <h2 id="tituloProducto5" class="nombre" style="font-size:20px; width: 218px; margin-left: 17px; text-align: center;">Gorra de Béisbol Audi color negro</h2>
              <p id="PrecioCambiar5" class="precio" style="color: rgb(168, 167, 167); margin-left: 70px">$35.000</p>

              <!--ESTO ES PARA LOS BOTONES----------------------------------------------------------------------------------------------------------->
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
              style="background-color: #de5e08; border: none; width: 205px; margin-left: 20px">
                Ver más información
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Lorem ipsum dolor, sit amet consectetur adipisicing.</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem voluptas atque necessitatibus ex!
                      Voluptates tempora exercitationem, quibusdam doloribus sit praesentium corporis corrupti saepe,
                      nemo delectus necessitatibus? Sint sunt dolore distinctio?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary"
                        style="background-color: #de5e08; border: none;">Añadir al carrito</button>
                    </div>
                  </div>
                </div>
              </div>


            </div>

            <button type="button" class="btn btn-primary"
            style="margin-left: 35px; background-color: #de5e08; outline: none; border: none; width: 205px;">Añadir al
              carrito</button><!--boton añadir al carro-->


          </div>



          <div class="producto">
            <img id="imagen6" src="../Images/Accesorios/neumatico1.jpg" alt="neumatico" class="neumatico" width="80px"   height="100px">
            <div class="informacion">
              <h2 id="tituloProducto6" class="nombre" style="font-size:20px; width: 218px; margin-left: 17px; text-align: center;">Neumático Michelin 2i 3435 Energy Saber</h2>
              <p id="PrecioCambiar6" class="precio" style="color: rgb(168, 167, 167); margin-left: 70px">$145.000</p>

              <!--ESTO ES PARA LOS BOTONES----------------------------------------------------------------------------------------------------------->
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                style="background-color: #de5e08; border: none; width: 205px; margin-left: 20px">
                Ver más información
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Neumatico michelin</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem voluptas atque necessitatibus ex!
                      Voluptates tempora exercitationem, quibusdam doloribus sit praesentium corporis corrupti saepe,
                      nemo delectus necessitatibus? Sint sunt dolore distinctio?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary"
                        style="background-color: #de5e08; border: none;">Añadir al carrito</button>
                    </div>
                  </div>
                </div>
              </div>


            </div>

            <button type="button" class="btn btn-primary"
              style="margin-left: 35px; background-color: #de5e08; outline: none; border: none; width: 205px;">Añadir al
              carrito</button><!--boton añadir al carro-->


          </div>

        </div>


      </div>




    </div>
  </section>
  <div class = "prefooter">
    
  </div>
  <footer>
     <div id="final2">

      <ul style="list-style-type: none;">

        <li><a href="#" style="text-transform: uppercase;">Modelos</a></li>
        <li><a href="#" style="text-transform: lowercase;">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase;">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase;">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase;">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase;">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase;">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase;">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase;">Lorem ipsum</a></li>


      </ul>



      <ul style="list-style-type: none;">

        <li><a href="#" style="text-transform: uppercase">Accesorios</a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>


      </ul>
      <ul style="list-style-type: none;">

        <li><a href="#" style="text-transform: uppercase">Acerca de </a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase;">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>


      </ul>


      <ul style="list-style-type: none;">

        <li><a href="#" style="text-transform: uppercase">Carrito</a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>


      </ul>

      <ul style="list-style-type: none;">

        <li><a href="#" style="text-transform: uppercase">Mi cuenta</a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>


      </ul>

      <ul style="list-style-type: none;">

        <li><a href="#" style="text-transform: uppercase">Blabla</a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>


      </ul>


      <ul style="list-style-type: none;">

        <li><a href="#" style="text-transform: uppercase">Blabla</a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>


      </ul>


      <ul style="list-style-type: none;">

        <li><a href="#" style="text-transform: uppercase">Blabla</a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>
        <li><a href="#" style="text-transform: lowercase">Lorem ipsum</a></li>


      </ul>




    </div>


    <div id="texto_ultimo">

      <h6>Audi Santiago, Avenida José Alcalde 10237 - Lo Barnechea, Santiago <br> +56 (2) 2837-1640 - +569 64973750</h6>
      <img src="../Icons/Home/instablanco.jpg" alt="instagram" id="instagram">
      <img src="../Icons/Home/whatsapblanco.jpg" alt="whatsap" id="whatsap">
    </div> 

  </footer>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script><!--ENLACE BOOSTRAP-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
    crossorigin="anonymous"></script><!--ENLACE BOOSTRAP-->

</body>

</html>

{% endblock %}