{% extends 'planilla_header_footer.html' %}
{% load static %}




  <!--ENLACE BOOSTRAP-->
 
{% block estilo %}
<link rel="stylesheet" href="{% static 'Style/estilo_accesorios.css'%}"><!--ENLACE STYLE-->
<link rel="stylesheet" href=" https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
{% endblock %}


{% block content %}
<div id="imagen_fondo">

  <div id="texto_luces">
  <h3>NUEVO VOLANTE LED EDITION FULL</h3>

   <h3>$259.990</h3>
   <button type="button" class="btn btn-secondary btn-lg" id="boton1">Añadir al carrito</button><!--BOTON-->
  </div>
</div>




<div id="contenedor_principal">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Buscar por categoría
    </button>
    <ul class="dropdown-menu">
      <li><button class="dropdown-item" type="button">Interior</button></li>
      <li><button class="dropdown-item" type="button">Exterior</button></li>
      <li><button class="dropdown-item" type="button">Ruedas y neumáticos</button></li>
    </ul>
  </div>

  <h2>Renueva tu Audi con los accesorios para </h2>
  <h2>El interior de su vehículo</h2>

  <div id="contenedor_interior">

    {% for item in interior %}
    <div class="accesorio">
        <div class="nombre_acc">{{ item.nombre_acc}}</div>
        <div class="descripcion_acc">{{ item.descripcion_acc }}</div>
        <div class="precio_acc">${{ item.precio_acc }}</div>
        <div class="stock_acc">Stock Disponible : {{ item.stock_acc}} Productos</div>
        <div class="imagen_acc" style="background-image: url('{{ item.imagen_acc}}');"></div>
        <div class="botonesAcc">
            <button class="botoncitoacc">Añadir al carrito</button>
            <button class="botoncitoacc">Más información</button>
        </div>
    </div>
    {% endfor %}

    </div>


    <h2>Renueva tu Audi con los accesorios para </h2>
    <h2>El exterior de su vehículo</h2>


    <div id="contenedor_interior">

      {% for item in exterior %}
      <div class="accesorio">
          <div class="nombre_acc">{{ item.nombre_acc}}</div>
          <div class="descripcion_acc">{{ item.descripcion_acc }}</div>
          <div class="precio_acc">${{ item.precio_acc }}</div>
          <div class="stock_acc">Stock Disponible : {{ item.stock_acc}} Productos</div>
          <div class="imagen_acc" style="background-image: url('{{ item.imagen_acc}}');"></div>
          <div class="botonesAcc">
              <button class="botoncitoacc">Añadir al carrito</button>
              <button class="botoncitoacc">Más información</button>
          </div>
      </div>
      {% endfor %}
  
      </div>


      <h2>Renueva tu Audi con los accesorios</h2>
      <h2>Nuedas y neumáticos</h2>

      <div id="contenedor_interior">

        {% for item in ruedas_neumaticos%}
        <div class="accesorio">
            <div class="nombre_acc">{{ item.nombre_acc}}</div>
            <div class="descripcion_acc">{{ item.descripcion_acc }}</div>
            <div class="precio_acc">${{ item.precio_acc }}</div>
            <div class="stock_acc">Stock Disponible : {{ item.stock_acc}} Productos</div>
            <div class="imagen_acc" style="background-image: url('{{ item.imagen_acc}}');"></div>
            <div class="botonesAcc">
                <button class="botoncitoacc">Añadir al carrito</button>
                <button class="botoncitoacc">Más información</button>
            </div>
        </div>
        {% endfor %}
    
        </div>







  </div>




          

         
  
   

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script><!--ENLACE BOOSTRAP-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
    crossorigin="anonymous"></script><!--ENLACE BOOSTRAP-->

</body>

</html>

{% endblock %}