{% extends 'planilla_header_footer.html' %}
{% load static %}

{% block estilo %}
<link rel="stylesheet" href="{% static 'Style/estilo_carrito.css' %}">
{% endblock %}


{% block content %}

<section>
  <div class="seccion-carrito">
    <div class="carrito">
      <div class="objeto-carrito">
        <div class="objeto">
          <div class="objeto-imagen">
            <img src="{% static 'Images/Accesorios/neumatico.jpg' %}" alt="obejto-nombre">
          </div>

          <div class="div-titulo">
            <h3 class="titulo">
              <!-- máximo 48 caracteres -->
              Llantas 3x3
            </h3>
          </div>

          <div class="div-precio">
            <h4 class="cantidad">x1</h4>
            <h4 class="precio">$50.000</h4>
            <img src="{% static 'Icons/Carrito/borrar-producto.png' %}" alt="Eliminar producto" class="borrar">
          </div>
        </div>
      </div>

      <div class="button-container">
        <form action="{% url 'accesorios' %}">
          <button type="submit" class="buttons">Agregar elementos</button>
        </form>
      </div>
    </div>
  </div>

  <div class="seccion-monto-total">
    <div class="valores">
      <div class="montos">
        <div class="titulos-valores">
          <div class="texto-monto" id="subtotal">Subtotal:</div>
          <div class="texto-monto" id="descuento">Descuento:</div>
          <div class="texto-monto" id="total">Total:</div>
        </div>
        <div class="valor-monto">
          <div class="texto-monto" id="valor-subtotal">$50.000</div>
          <div class="texto-monto" id="valor-descuento">$0</div>
          <div class="texto-monto" id="valor-total">$50.000</div>
        </div>
      </div>
      <div class="pay-desc-container">
        <div class="cod-descuento">
          <input type="text" name="input-code" class="input-code" placeholder="Cupón de descuento">
          <button type="button" class="buttons">Aplicar</button>
        </div>
        <div class="pay-btn">
          <button type="submit" class="buttons">Pagar</button>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}