{% extends 'planilla_header_footer.html' %}
{% load static %}

{% block estilo %}
    <link rel="stylesheet" href="{% static 'Style/estilo_carrito.css' %}">
{% endblock %}


{% block content %}

    <section>
        <div class="seccion-carrito">
            <div class="carrito">
                <div class="objeto-carrito">
                  
                    <div class="objeto">
                        <div class="div-titulo">
                          <h3 class="titulo">
                            <!-- máximo 48 caracteres -->
                            Llantas 3x3
                          </h3>
                        </div>
                        
                        <div class="div-precio">
                            <h4 class="cantidad">x1</h4>
                            <h4 class="precio">$50.000</h4>
                            <img src="{% static 'Icons/Carrito/borrar-producto.png' %}" alt="Eliminar producto" class="borrar">
                        </div>
                    </div>

                    <div class="objeto">
                      <div class="div-titulo">
                        <h3 class="titulo">
                          <!-- máximo 48 caracteres -->
                          Llantas 3x3
                        </h3>
                      </div>
                      
                      <div class="div-precio">
                          <h4 class="cantidad">x1</h4>
                          <h4 class="precio">$50.000</h4>
                          <img src="{% static 'Icons/Carrito/borrar-producto.png' %}" alt="Eliminar producto" class="borrar">
                      </div>
                  </div>

                  <div class="objeto">
                    <div class="div-titulo">
                      <h3 class="titulo">
                        <!-- máximo 48 caracteres -->
                        Llantas 3x3
                      </h3>
                    </div>
                    
                    <div class="div-precio">
                        <h4 class="cantidad">x1</h4>
                        <h4 class="precio">$50.000</h4>
                        <img src="{% static 'Icons/Carrito/borrar-producto.png' %}" alt="Eliminar producto" class="borrar">
                    </div>
                </div>

                <div class="objeto">
                  <div class="div-titulo">
                    <h3 class="titulo">
                      <!-- máximo 48 caracteres -->
                      Llantas 3x3
                    </h3>
                  </div>
                  
                  <div class="div-precio">
                      <h4 class="cantidad">x1</h4>
                      <h4 class="precio">$50.000</h4>
                      <img src="{% static 'Icons/Carrito/borrar-producto.png' %}" alt="Eliminar producto" class="borrar">
                  </div>
                </div>
                    
                </div>
                <div class="button-container">
                  <form action="{% url 'accesorios' %}">
                    <button type="submit" class="buttons">Agregar elementos</button>
                  </form>                  
                </div>
            </div>
        </div>

        <div class="seccion-monto-total">
            <div class="total">
                <div class="total-valores">
                    <ul class="lista" id="titulos">
                        <a>Subtotal:</a>
                        <a>Descuentos:</a>
                        <a id="linea-bonita">Total:</a>
                    </ul>
                    <ul class="lista" id="valor-total">
                        <a>$309.000</a>
                        <a>$0</a>
                        <a id="linea-bonita-monto" >$309.000</a>
                    </ul>
                </div>
 
                <div class="input-box" id="codigo-descuento">
                    <input type="text" placeholder="Código de descuento" maxlength="7">
                    <button type="submit" class="buttons" id="aplicar-codigo" >Aplicar código</button>
                </div>

                <div class="button-container" id="paying-button">
                    <form action="{% static 'Images/Extra/escuchame_venezolano.mp4' %}">
                      <button type="submit" class="buttons">Pagar</button>
                    </form>
                </div>

            </div>
        </div>
    </section>

{% endblock %}