@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*Página principal*/
* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

#logo {
    width: 100px;
    height: 30px;




}

#logo>img {
    width: 100px;
    height: 30px;



}

.botones{
    display: flex;
    column-gap: 20px;
    margin-left: 50px;
    margin-top: 30px;
}

.botones>img {
    width: 40px;
}

.botones>button {
    background-color: #000000;
    color: #ffffff;
    width: 147px;
    border-radius: 5px;
}

nav {
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;


}

a {
    color: #ffffff;

    text-decoration: none;
    font-size: 13px;
    padding: 10px;
}





.carousel-caption>h1 {
    font-size: 3.5vw;
    /* Utiliza un tamaño de fuente relativo */
    color: #ffffff;
    margin-top: -30vw;
    /* Utiliza un margen superior relativo */
    text-align: left;
    text-shadow: 0.5vw 0.2vw 0.2vw #000000;
    /* Utiliza sombra de texto relativa */
    float: right;
    margin-right: -10vw;
    /* Utiliza un margen derecho relativo */
    width: 30vw;
    /* Utiliza un ancho relativo */
}





.carousel-caption>h2 {
    font-size: 2.0vw;
    /* Tamaño de fuente relativo */
    color: #ffffff;
    float: right;

    margin-right: -0.1vw;
    /* Margen derecho relativo */
    text-shadow: 0.13vw 0.13vw 0.13vw #000000;
    /* Sombra de texto relativa */
    margin-top: -14vw;
    /* Margen superior relativo */
}








#boton1 {
    width: 19vw;
    /* Ancho relativo */
    background-color: #de5e08;
    color: #fff;
    font-weight: bold;
    float: right;
    margin-right: -0.1vw;
    /* Margen derecho relativo */
    display: flex;
    align-items: center;
    /* Centra el contenido verticalmente */
    justify-content: center;
    /* Centra el contenido horizontalmente */
    font-size: medium;
    /* Tamaño de fuente relativo */
    border: none;
    text-align: center;
    margin-top: -10vw;
    /* Margen superior relativo */
}



#boton1:before {
    content: 'Vive la experiencia ahora';
}

#autoblanco {
    background-image: url(../Images/Backgrounds/Home/fondoblanco.jpg);
    background-size: cover;
    width: 100%;
    height: 360px;
    margin-top: 0px;


}


/* Estilos al pasar el cursor por encima */
#botonnuevo:hover {
    background-color: #f64813db;
}

/* Estilos al pasar el cursor por encima */
#botonnuevo1:hover {
    background-color: #f64813db;
}

#autoblanco>h2 {

    font-size: 30px;
    padding-top: 40px;
    display: flex;
    margin-left: 50px;

}

#autoblanco>h3 {

    font-size: 20px;
    padding-top: 1px;
    display: flex;
    margin-top: 5px;
    margin-left: 50px;

}

#autoblanco>h4 {

    font-size: 16px;
    padding-top: 1px;
    display: flex;
    margin-top: 30px;
    margin-left: 50px;
    color: #000000;

}
















#final>h2 {
    margin-left: 25px;
    padding-top: 20px;

}

#final>h3 {
    font-size: 18px;
    margin-left: 25px;
}



#final2 {
    height: 40vh;
    width: 100%;
    background-color: #161616;
    margin-top: 0px;
    display: flex;
    padding-left: 50px;


}

#final2>ul {
    width: 1000px;
    background-color: #161616;
    padding-left: 2px;
    margin-left: 40px;
    height: 220px;
    padding-top: 30px;


}

#texto_ultimo {

    height: 12vh;
    background-color: #161616;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 0px;




}

#texto_ultimo>h6 {
    color: #cecece;
    text-align: center;
    display: flex;
    font-size: 14px;
    margin-top: 30px;
    background-color: #161616;
}

#instagram {

    width: 40px;
    height: 40px;
    margin-left: 550px;
    display: flex;
    margin-top: -50px;

}


#whatsap {

    width: 40px;
    height: 40px;
    margin-left: 700px;
    display: flex;
    margin-top: -40px;

}





/*Cambios para sitio responsivo*/

.text_home {

    margin-top: 5px;
    display: flex;
    margin-left: 1px;

}

.text_modelos {
    margin-top: -15px;
    display: flex;
    margin-left: 20px;
}

.text_accesorios {
    margin-top: -17px;
    display: flex;
    margin-left: 20px;
}

.text_acerca {
    margin-top: -17px;
    display: flex;
    margin-left: 20px;
}

.text_carrito {
    margin-top: -17px;
    display: flex;
    margin-left: 20px;
}

.text_sesion {
    margin-top: -17px;
    display: flex;
    margin-left: 20px;
}



#lomasnuevo {
    width: 100%;
    height: 120px;
    background-color: #0f0f0f;
    text-align: center;
    font-weight: bold;




}

#lomasnuevo1 {
    font-size: 14px;
    color: #cecece;
    padding-top: 20px;
    float: left;
    margin-left: 60px;

    display: flex;

}

#lomasnuevo2 {
    font-size: 16px;
    color: #ffffff;
    font-family: href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap";
    float: left;
    margin-top: 60px;
    margin-left: -430px;
}



.dropdown-center {


    margin-left: 650px;
    margin-top: 60px;

}




 





#imagenes {
    width: 100%;
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 20px;

}

#imagen {
    width: 300px;
    height: 50vh;

    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    background-color: #000000;


}

#imagen>img {
    width: 300px;

}

#imagen>h4 {
    font-size: medium;
    color: #cecece;
    text-align: center;
    margin-top: 14px;
}

#imagen>p {
    font-size: small;
    color: #cecece;
    margin: 14px;
    text-align: justify;
}


#imagen p:before {
    content: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit Eum nisi distinctio dolorum ipsam eaque illum, quisquam, ue illumksh';
}



#boton_images {
    font-size: medium;
    background-color: #de5e08;
    color: #cecece;
    width: 150px;
    height: 40px;
    border: none;
    font-weight: bold;
    margin-left: 73px;
    margin-top: 4px;

}

#buscarprincipal {
    position: relative;

    width: 320px;
    height: 60px;
    margin-left: 1130px;
    top: 50px;
    display: flex;
}

#buscar {
    width: 300px;
    height: 10px;
    padding: 0;
    background-color: #0f0f0f;
    position: absolute;
    top: 0;
}

#buscar1 {
    background-color: #0f0f0f;

}

#buscar2 {
    background-color: #0f0f0f;
    color: #ffffff;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: -9px;


}

#buscar4 {

    border: 1px #cecece solid;
    height: 30px;
    color: #fff;
}

#botonbuscar {

    background-color: #727272;
    border: #727272;
    color: #000000;
    height: 30px;


}









/* Sitio responsivo */

@media (max-width: 1180px) {
    #final2{
        display: none;
    }
}




@media (max-width: 1100px) {


    #final2 {
        display: none;
    }
}
#boton1{
    width: 30%;
}



/*Medida 1 */
@media (max-width: 900px) {

    nav {
        height: 60px;
    }

    #logotipo>img {
        margin-top: 2px;
        margin-left: 15px;
        width: 83px;
        /* Cambiado a un valor porcentual para que sea proporcional al tamaño del logo */
        height: 25px;
        /* Usando 'auto' para mantener la proporción del logotipo */


    }


    #home {
        .text_home {
            display: none;
        }
    }

    #carrito {
        .text_carrito {
            display: none;
        }
    }

    #iniciarsesion {
        .text_sesion {
            display: none;
        }
    }

    #modelos {
        .text_modelos {
            display: none;
        }
    }

    #accesorios {
        .text_accesorios {
            display: none;
        }
    }

    #acercade {
        .text_acerca {
            display: none;
        }
    }



    #boton1:before {
        content: 'Descubrir';
       
    }

    #final2 {
        display: none;
    }




 







}

/*Medida 2 */

@media (max-width: 700px) {

    nav {
        height: 60px;
    }

    #logotipo>img {
        margin-top: 2px;
        margin-left: 15px;
        width: 83px;
        /* Cambiado a un valor porcentual para que sea proporcional al tamaño del logo */
        height: 25px;
        /* Usando 'auto' para mantener la proporción del logotipo */


    }


    #home {
        .text_home {
            display: none;
        }
    }

    #carrito {
        .text_carrito {
            display: none;
        }
    }

    #iniciarsesion {
        .text_sesion {
            display: none;
        }
    }

    #modelos {
        .text_modelos {
            display: none;
        }
    }

    #accesorios {
        .text_accesorios {
            display: none;
        }
    }

    #acercade {
        .text_acerca {
            display: none;
        }
    }





    #lomasnuevo {

        height: 60px;
        display: flex;

    }

    #lomasnuevo1 {

        font-size: 10px;
        margin-left: 35px;
        margin-top: -8px;
        display: flex;



    }

    #lomasnuevo2 {

        font-size: 10px;
        margin-top: 30px;
        margin-left: -183px;
        display: flex;

    }






    .carousel-caption>h2 {
        font-size: 2.2vw;
        width: 26vw;
        margin-top: -16vw;
        text-align: center;
        margin-right: -18px;
    }







    #final2 {
        display: none;
    }


    #final>h2 {
        font-size: medium;
        margin-left: 12px;

    }

    #final>h3 {
        font-size: small;
        margin-left: 12px;

    }

    #mantencion1 {
        display: none;
    }

    .boton_mantencion {
        display: none;
    }



    .btn-outline-secondary {
        width: 120px;
        font-size: 10px;
        margin: 20px;

    }


    #texto_ultimo {


        width: 100%;



    }

    #instagram {
        display: none;

    }

    #whatsap {
        display: none;
    }

    #texto_ultimo>h6 {
        font-size: 11px;
    }


    #imagen {
        width: 160px;
        height: 240px;
    }


    #imagen>img {
        width: 160px;
        height: 60x;
        display: flex;

    }

    #imagen p:before {
        content: 'Lorem ipsum dolor, sit amet consec tetur adip sicing elit Eum nisi distinctio do  distinctio ';
        font-size: 9px;
        text-align: justify;
        line-height: 1.3;
        /* Ajusta este valor según lo necesites */
        display: flex;
    }

    #boton_images {
        width: 120px;
        height: 30px;
        margin-top: 5px;
        margin-left: 20px;
        font-size: 12px;
    }

    #buscarprincipal {
        display: none;
    }

    

    /* Estilos al pasar el cursor por encima */
    #botonnuevo:hover {
        background-color: #f64813db;
    }

    /* Estilos al pasar el cursor por encima */
    #botonnuevo1:hover {
        background-color: #f64813db;
    }


    #contenedor_mapa {
        width: 100%;
        height: 410px;
        /* margin-top: 700px; */
        background-color: #eae5e5;

    }

    #info_mapa {
        width: 100%;
        height: 40px;

        /* margin-top: 340px; */


    }

    #info_mapa>h4 {
        color: #111111;
        margin-left: 50px;
        padding-top: 7px;
        font-size: 17px;

    }

    #contenedor_mapa>img {
        display: none;

    }



}

#map {
    width: 350px;
    height: 310px;
    margin-top: 20px;
    margin-left: 50px;


}


#caja_texto {
    display: none;
}






@media (max-width: 555px) {

    nav {
        height: 60px;
    }

    #logotipo>img {
        margin-top: 2px;
        margin-left: 15px;
        width: 83px;
        /* Cambiado a un valor porcentual para que sea proporcional al tamaño del logo */
        height: 25px;
        /* Usando 'auto' para mantener la proporción del logotipo */


    }


    #home {
        .text_home {
            display: none;
        }
    }

    #carrito {
        .text_carrito {
            display: none;
        }
    }

    #iniciarsesion {
        .text_sesion {
            display: none;
        }
    }

    #modelos {
        .text_modelos {
            display: none;
        }
    }

    #accesorios {
        .text_accesorios {
            display: none;
        }
    }

    #acercade {
        .text_acerca {
            display: none;
        }
    }






    #texto_ultimo {

        margin-top: 0px;
    }

    #botonnuevo {
        margin-left: 5px;

    }





    .carousel-caption>h1 {
        display: none;
    }


    .carousel-caption>h2 {
        font-size: 3vw;
        /* Tamaño de fuente relativo */
        width: 30vw;
        /* Ancho relativo */
        margin-top: -12vh;
        /* Margen superior relativo */
        margin-left: 5vw;
        /* Margen izquierdo relativo */
    }


    #lomasnuevo2 {
        display: none;
 
    }


#boton1{
    width: 25%;
    height: 8%;
    font-size: 12px;
    margin-right: 5%;
}

.botones{
    margin-left: 7%
}


#botonnuevo{
    width: 24%;
    font-size: small;
}

#botonnuevo1{
    width: 24%;
    font-size: small;
}

#autoblanco>h4{
   font-size: small; 
}

}



#nueva_coleccion {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    background-color: #2a2929;
  

  
}

.autos {
    width: 340px;
    margin: 10px;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    background-color: #161616;
    text-align: center; /* Alinea el texto al centro */
    color: #ffffff;
}

.nombre_auto {
    font-weight: bold;
    color: #cecece;
    
}

.descripcion_auto {
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 12px;
    color: #727272;
}

.stock_auto {
    font-style: italic;
    color: #666;
}

.imagen_auto {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
    border-radius: 5px;
}

.botonesAuto {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;

}
.botoncito {
    padding: 5px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    background-color: #cb5c0c;
}
.botoncito:hover {
    background-color: #ef7b37;
}




