@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



* {
    font-family: "Open Sans", sans-serif; 
    margin: 0; 
}
.acercadeb{
background-color: #000000;
display: flex;

}
@media(max-width:1248px){
.container{
    display: flex;
    flex-direction: column;
    max-width: 200%;
    justify-content: baseline;
    padding-top: 10%;
    padding-bottom: 8%;

}
.sidebar{
    background-color: #007bff;
    padding-bottom: 2%;
    justify-content: center;
    align-items: center;
}
}


.prefooter{

    height: 700px;
    width: 1730px;
    background-color:#1b1b1b ;


}
    
#logo {
    width: 130px;
    height: 70px;
}

#logo > img {
    width: 120px;
    height: 40px;
    margin-top: 15px;
}
section{
    background-color:  #000000 ;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Images/Accesorios/Asientos\ deportivos.webp);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

nav {
    background-color: #000000; 
    display: flex; 
    justify-content: space-around;
    align-items: center;
    height: 12vh;
}

a {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
}

/* Define el estilo base del body*/
body, html {
    margin: 0;
    padding: 0;
    background-color:#1b1b1b ;
    
}
.articulos{
    background-color: #0a0909de;
    height: 150vh;
    width: 100%;
    border-radius: 25px;
    margin-left: 30px;
    margin-top: 10px;
}
.producto_1{

    align-items: center;
    height: 100%;
    width: 100%;
    display: flex;
    
}
.lstp{
height: 6vh;
width: 20vh ;



}

.container {
    display: flex;
    width: 100vw;
    min-height: 100vh; 
    justify-content: space-between;
    background-color: #b3000000
}
.accesorio{
    width: 450px;
    height: 300px;
    background-color: #ffffffb0;
    margin-top: 26px;
    margin: 30px;
    border-radius: 20px;
}
.producto {

    border-radius: 5px;
 
    margin: 20px;
    width: 300px;
    height: 450px;
 


  }  
  .producto img {
    margin-top: 10px;
    height: 30vh;
    width: 30vh;
    margin-left: 33px;
  }
  
  .informacion {
    padding: 15px;
    background-color: #ffffff00;
  }
  
  .nombre {
    font-size: 18px;
    margin: 0;
  }
  
  .precio {
    color: #007bff;
    font-size: 24px;
    margin: 5px 0;
  }
.sidebar {
    width: 250px;
    
    background-color: #f2f2f2c9;
    padding: 20px;
    border-radius: 25px;
    margin-top: 10px;
}
.artventa{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

/* Estilos para el contenido principal en el lado derecho */
.content {
    width: calc(100% - 250px); /* Calcula el ancho restando el ancho de la barra lateral */
    padding: 20px; 
}

/* Estilos para los productos */
.product {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
}
.titulo111{
    display: flex;
    align-content: center !important;
    justify-content: center !important;
}
.acer{
display: flex;
height: 630%;
width: 100%;
align-items: center!important;
justify-content: center !important;
}
/* Estilos para las imágenes de los productos */
.product img {
    width: 48%; 
    margin-bottom: 20px; 
}

/* Media query para dispositivos con pantallas más pequeñas */
@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column; 
    }
    .sidebar, .content {
        width: 100%; 
    }
    .product img {
        width: 100%; 
    }
    h5 {
        top: 10%;
        left: 50%;
        color: white;
        text-align: center;
        font-size: 10px !important;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Efecto de sombra al texto */
        width: 90%; /* Ajuste del ancho del texto */
        max-width: 600px; /* Máximo ancho del texto */
        padding: 0px; /* Espacio alrededor del texto */
        background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
        border-radius: 10px; /* Bordes redondeados */
      }
      h3 {
        top: 50%;
        left: 50%;
        color: white;
        text-align: center;
        font-size: 10px !important; 
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Efecto de sombra al texto */
        width: 90%; /* Ajuste del ancho del texto */
        max-width: 600px; /* Máximo ancho del texto */
        padding: 0px !important; /* Espacio alrededor del texto */
        background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
        border-radius: 10px; /* Bordes redondeados */
      }
}
@media only screen and (max-width: 1020px){
    .articulos{
        background-color: #c9c9c985;
        width: 430px;
        height: 110px;
        align-items: center;
        justify-content: center;
        margin-left: 30px !important;


    }
    .prefooter{


        height: 3400px;
    }
    .articulos{
        height: 3220px !important;

    }
    h6{ 
        color: #000000 !important;

    }
    .artventa{ 
align-items: center !important;
justify-content: center !important;

    }
.producto { 
justify-content: center !important;
align-items: center !important;

}




    

 





}
/* Estilos para el menú desplegable */
.dropdown-content {
    display: none;
    padding-left: 20px; 
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + label + .dropdown-content {
    display: block;
}

label {
    cursor: pointer;
    display: block;
    margin-bottom: 10px;
    color: black; 
}

/* Estilo para los enlaces dentro del menú desplegable */
.dropdown-content a {
    color: black;
    text-decoration: none; 
    display: block;
    padding: 8px 0;
}

/* Agrega guiones al texto */
.dropdown-content a::before {
    content: " - "; 
}
.contenedor {
    display: flex;
    position: relative;
    row-gap: 50px;
    flex-direction: column;
    width: 100%;
    height: 100vh; /* Ajuste para cubrir toda la altura de la ventana */
    background-image: url('../Images/Accesorios/fondo.webp');
    background-size: cover;
    align-items: center;
    justify-content: center;
  }

.acerca-de{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    height: 500px;
    width: 50%;
}

p{
color: #ffffff  ;
  }

  h2{
    color: #ffffff;
}
  h3 {
  top: 50%;
  left: 50%;
  color: white;
  text-align: center;
  font-size: 17px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Efecto de sombra al texto */
  width: 90%; /* Ajuste del ancho del texto */
  max-width: 600px; /* Máximo ancho del texto */
  padding: 20px; /* Espacio alrededor del texto */
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  border-radius: 10px; /* Bordes redondeados */
}

.tituloaudi {
    align-items: center !important;
    justify-content: center !important;
    top: 50%;
    left: 50%;
    color: white;
    text-align: center;
    font-size: 17px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Efecto de sombra al texto */
    width: 90%; /* Ajuste del ancho del texto */
    max-width: 600px; /* Máximo ancho del texto */
    padding: 20px; /* Espacio alrededor del texto */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    border-radius: 10px; /* Bordes redondeados */
  }
h4{
color: #0e0e0e;
    

}
h5 {
    top: 10%;
    left: 50%;
    color: white;
    text-align: center;
    font-size: 36px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Efecto de sombra al texto */
    width: 90%; /* Ajuste del ancho del texto */
    max-width: 600px; /* Máximo ancho del texto */
    padding: 20px; /* Espacio alrededor del texto */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    border-radius: 10px; /* Bordes redondeados */
  }

  
  h6{
    text-align: left;
    font-size: 36px;
    margin-left: 45px;
    margin-top: 10px;
    text-decoration: none;
    color: #ffffff;

  }

  #final2{
    height: 40vh;
  
    background-color: #161616;
    padding-top: 30px;
    display: flex;
    padding-left: 50px;


}

#final2>ul{

    background-color: #161616;
    padding-left: 2px;
    margin-left: 80px;
    height: 220px;

   }

#texto_ultimo{

height: 12vh;
background-color: #161616;
align-items: center;
display: flex;
flex-direction: column;




}

#texto_ultimo>h6{
    color: #cecece;
    text-align: center;
    display: flex;
 font-size: 14px;
    margin-top: 40px;
}
#instagram{

   width: 40px;
   height: 40px;
   margin-left: 550px;
   display: flex;
   margin-top: -50px;
    
 }
  
 #whatsap{

    width: 40px;
    height: 40px;
    margin-left: 650px;
    display: flex;
    margin-top: -40px;
     
  }
  @media  (max-width: 600px){
    .sidebar{
        display: none;
    }
    .articulos{
        padding: 0px;
        margin: 0px;
        height: 100%;
    }
 .artventa{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}b
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: baseline;
    background-color: #5a5a5a;
}
.btn-primary{
    margin-left: 25px !important;
}
.informacion{
    text-align: center !important;
    align-items: center !important;
    justify-content: center !important;

}
.informacion h2{
    margin: 0px;
    width: 100% !important;
}
.informacion p{
    margin: 0px !important;
}
  }

  @media (max-width: 555px) {
    .prefooter{

        height: 7000;
        width: 1730px;
        background-color:#1b1b1b ;
    
    
    }

    nav {
        height: 60px;
    }

    #logotipo>img {
        margin-top: 2px;
        margin-left: 15px;
        width: 83px;
        /* Cambiado a un valor porcentual para que sea proporcional al tamaño del logo */
        height: 25px;
        /* Usando 'auto' para mantener la proporción del logotipo */


    }


    #home {
        .text_home {
            display: none;
        }
    }

    #carrito {
        .text_carrito {
            display: none;
        }
    }

    #iniciarsesion {
        .text_sesion {
            display: none;
        }
    }

    #modelos {
        .text_modelos {
            display: none;
        }
    }

    #accesorios {
        .text_accesorios {
            display: none;
        }
    }

    #acercade {
        .text_acerca {
            display: none;
        }
    }


    #final2 {
        display: none;
    }


    #final>h2 {
        font-size: medium;
        margin-left: 12px;

    }

    #final>h3 {
        font-size: small;
        margin-left: 12px;

    }

    .boton_mantencion {
        display: none;
    }



    .btn-outline-secondary {
        width: 120px;
        font-size: 10px;
        margin: 20px;

    }


    #texto_ultimo {


        width: 100%;



    }

    #instagram {
        display: none;

    }

    #whatsap {
        display: none;
    }

    #texto_ultimo>h6 {
        font-size: 11px;
    }


}